<div class="advertisement">
    <div class="overlay">
        <h3>SPECIAL DEAL!</h3>
        <h4>until 01/31</h4>
    </div>
</div>

<div class="advertisement">
    <div class="overlay">
        <h3>SPRING <br />IS HERE!</h3>
        <h4>until 03/15</h4>
    </div>
</div>

<div class="advertisement">
    <div class="overlay">
        <h3>NEW SPORTS<br />EQUIPMENT!</h3>
        <h4>until 05/01</h4>
    </div>
</div>

<div class="advertisement">
    <div class="overlay">
        <h3>BACK TO<br /> SCHOOL!</h3>
        <h4>until 09/01</h4>
    </div>
</div>